<html>
    <head>
        <title>Eirbware : application d'exemple</title>
    </head>
    <body>
        {% block body %}
        <h1>Bienvenue !</h1>
        {% if user %}
            Bonjour {{ user }} ! <a href="/logout">Déconnexion</a>
        {% else %}
            Vous êtes inconnus, <a href="/login">identifiez-vous</a> 
        {% endif %}
        {% endblock %}
    </body>
</html>
